* {
    background-color: brown;
}

h1 {
    display: inline-block;
    border: 1px black solid;
    color: aliceblue;
    width: 100px;
         /* t&b  l&r */
    margin: 100px;
    padding: 100px;
}

h2 {
    display: inline-block;
    border: 1px green solid;
    width: 100px;
    margin: 100px;
    padding: 100px;
}

p {
    border: 1px blue solid;
    width: 171px;
    margin: 50px 60px 70px 80px;
}

a {
    display: inline;
    border: 1px blueviolet solid;
}