h1 {
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}

.none_piña {
    display: none;
}

.piña{
    width: 100px;
    height: 100px;
}

.none_pollo {
    display: none;
}

.pollo {
    width: 100px;
    height: 100px;
}